<section class="advantage">
	<div class="wrapper">
		<div class="advantage-wrap">
			<div class="advantage-slider">
				<h3 class="advantage__title">
					Работаем с экспортом<br> и импортом по всему миру
				</h3>
				<h3 class="advantage__title">
					Работаем с экспортом<br> и импортом в России
				</h3>
				<h3 class="advantage__title">
					Работаем с экспортом<br> и импортом в Японии
				</h3>
				<h3 class="advantage__title">
					Работаем с экспортом<br> и импортом в Китае
				</h3>
			</div>
			<div class="advantage__subtitle">
				Наши специалисты помогут вам доставить 
				ваши грузы в любую точку мира
			</div>
			<button onclick="yaCounter48105665.reachGoal('topBtn'); return true;" class="advantage__button button button-o">Быстрая заявка</button>
		</div>
	</div>
</section>
