<footer class="footer">
	<div class="wrapper">
		<div class="footer-wrap">
			<div class="footer-logo__left">
				<img src="images/footer/logo1-footer.png" alt="logotipe">
			</div>
			<nav class="header-menu footer-menu">
				<ul class="header-menu__items">
					<li class="header-menu__item">
						<a href="index.html" class="header-menu__link footer-menu__link">
							О компании
						</a>
					</li>
					<li class="header-menu__item">
						<a href="shipping.html" class="header-menu__link footer-menu__link">
							Услуги
						</a>
					</li>
					<li class="header-menu__item">
						<a href="" class="header-menu__link footer-menu__link">
							Новости
						</a>
					</li>
					<li class="header-menu__item">
						<a href="" class="header-menu__link footer-menu__link">
							Калькулятор
						</a>
					</li>
					<li class="header-menu__item">
						<a href="" class="header-menu__link footer-menu__link">
							Контакты
						</a>
					</li>
				</ul>
			</nav>
			<div class="footer-logo__right">
				<span>Создание сайта:</span>
				<img src="images/footer/logo2-footer.png" alt="logotipe">
			</div>
		</div>
	</div>
</footer>
<link rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=cyrillic" rel="stylesheet">
<link rel="stylesheet" href="css/slick.css">
<link rel="stylesheet" href="css/slick-theme.css">
<link href="css/style.css?v1.7" rel="stylesheet" />
<!-- Yandex.Metrika counter --> <script> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter48105665 = new Ya.Metrika({ id:48105665, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://cdn.jsdelivr.net/npm/yandex-metrica-watch/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/48105665" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/jquery.maskedinput.min.js"></script>
<script src="js/script.min.js"></script>
</body>
</html>