<section class="request">
	<div class="wrapper">
		<h3 class="article-title">Запрос на услуги</h3>
		<form action="mailer/smart.php" method="POST" class="request-form">
			<input class="request-form_input mark" type="text" name="form-whence" placeholder="Откуда" required>
			<input class="request-form_input mark" type="text" name="form-where" placeholder="Куда" required>
			<input class="request-form_input" type="text" name="form-name" placeholder="Как Вас зовут" required>
			<input class="request-form_input" id="phone" type="tel" name="form-phone" placeholder="Номер телефона" required>
			<button onclick="yaCounter48105665.reachGoal('sendForm'); return true;" class="request-button button button-o">Получить расчет</button>
			<div class="request-text">
				Нажав кнопку «Получить расчет», я даю согласие на обработку моих персональных данных.
			</div>
		</form>
		
	</div>
</section>