<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Trucking_BTG</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=cyrillic" rel="stylesheet">
	<link rel="stylesheet" href="css/slick.css">
	<link rel="stylesheet" href="css/slick-theme.css">
	<link href="css/style.css?v1.7" rel="stylesheet" />
</head>
<body>
	<!-- Yandex.Metrika counter --> <script> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter48105665 = new Ya.Metrika({ id:48105665, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://cdn.jsdelivr.net/npm/yandex-metrica-watch/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/48105665" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
	<header class="header">
		<div class="menu-burger">
			<span></span>
		</div>
		<div class="wrapper">
			<div class="header-block">
				<div class="header-block__text">
					Импортно-экспортная компания
				</div>
				<div class="header-block__logo">
					<img class="header-block__strip" src="images/strip.png" alt="">
					<img class="header-block__img" src="images/header/logo-header.png" alt="logotipe">
					<img class="header-block__strip" src="images/strip.png" alt="">
				</div>
				<div class="header-block__contacts">
					<div class="header-block__phone">
						<a href="#">8 (961) 996-25-03</a>
					</div>
					<button onclick="yaCounter48105665.reachGoal('topBtn'); return true;" class="header-block__button button button-o">
						Заказать звонок
					</button>
				</div>
			</div>
			<nav class="header-menu">
				<ul class="header-menu__items">
					<li class="header-menu__item">
						<a href="index.html" class="header-menu__link header-menu__link_active">
							О компании
						</a>
					</li>
					<li class="header-menu__item">
						<a href="shipping.html" class="header-menu__link">
							Услуги
						</a>
					</li>
					<li class="header-menu__item">
						<a href="#" class="header-menu__link">
							Новости
						</a>
					</li>
					<li class="header-menu__item">
						<a href="#" class="header-menu__link">
							Калькулятор
						</a>
					</li>
					<li class="header-menu__item">
						<a href="#" class="header-menu__link">
							Контакты
						</a>
					</li>
				</ul>
				<div class="link__search"><img src="images/header/search.png" alt=""></div>
			</nav>
			<div class="header-title-slider">
				<h1 class="header-title">Грузы из Китая<br> с компанией "BTG"</h1>
				<h1 class="header-title">Грузы из Японии<br> с компанией "BTG"</h1>
				<h1 class="header-title">Грузы из России<br> с компанией "BTG"</h1>
			</div>
			<div class="header-text-slider">
				<div class="header-text">
					Экспорт и импорт грузов из Китая любым видом транспорта. Без переплат и точно в срок!
				</div>
				<div class="header-text">
					Экспорт и импорт грузов из Японии любым видом транспорта. Без переплат и точно в срок!
				</div>
				<div class="header-text">
					Экспорт и импорт грузов из России любым видом транспорта. Без переплат и точно в срок!
				</div>
			</div>
			<button onclick="yaCounter48105665.reachGoal('topBtn'); return true;" class="header-bottom__button button button-o">Быстрая заявка</button>
		</div>
	</header>
	