<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Trucking_BTG</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<body>
	
	<header class="header-pages">
		<div class="menu-burger">
			<span></span>
		</div>
		<div class="wrapper">
			<div class="header-block">
				<div class="header-block__text">
					Импортно-экспортная компания
				</div>
				<div class="header-block__logo">
					<img class="header-block__strip" src="images/strip.png" alt="">
					<img class="header-block__img" src="images/header/logo-header.png" alt="logotipe">
					<img class="header-block__strip" src="images/strip.png" alt="">
				</div>
				<div class="header-block__contacts">
					<div class="header-block__phone">
						<a href="#">8 (961) 996-25-03</a>
					</div>
					<button onclick="yaCounter48105665.reachGoal('topBtn'); return true;" class="header-block__button button button-o">
						Заказать звонок
					</button>
				</div>
			</div>
			<nav class="header-menu">
				<ul class="header-menu__items">
					<li class="header-menu__item">
						<a href="index.html" class="header-menu__link">
							О компании
						</a>
					</li>
					<li class="header-menu__item">
						<a href="#" class="header-menu__link header-menu__link_active">
							Услуги
						</a>
					</li>
					<li class="header-menu__item">
						<a href="#" class="header-menu__link">
							Новости
						</a>
					</li>
					<li class="header-menu__item">
						<a href="#" class="header-menu__link">
							Калькулятор
						</a>
					</li>
					<li class="header-menu__item">
						<a href="#" class="header-menu__link">
							Контакты
						</a>
					</li>
				</ul>
				<div class="link__search"><img src="images/header/search.png" alt=""></div>
			</nav>
		</div>
	</header>
	