<div class="overlay-call">
	<div class="pupup-content">
		<div class="article-title">Заказать звонок</div>
		<div class="popup-close">&times;</div>
		<form action="mailer/smart.php" method="POST" class="request-form">
			<input class="request-form_input pupup-content_input" type="text" name="form-name" placeholder="Как Вас зовут" required>
			<input class="request-form_input pupup-content_input" id="phone2" type="tel" name="form-phone" placeholder="Номер телефона" required>
			<button onclick="yaCounter48105665.reachGoal('sendForm'); return true;" class="popup-button button button-o">Заказать звонок</button>
			<div class="request-text pupup-content_text">
				Нажав кнопку «Заказать звонок»,<br> я даю согласие на обработку моих персональных данных.
			</div>
		</form>
	</div>
</div>