<section class="news">
	<div class="wrapper">
		<div class="block-title">
			<div class="block-title__img">
				<img src="images/strip-dark.png" alt="">
			</div>
			<h2 class="section-title">Новости</h2>
			<div class="block-title__img">
				<img src="images/strip-dark.png" alt="">
			</div>
		</div>
		<div class="news-wrap">
			<figure class="news-block">
				<div class="news__img">
					<img src="images/news/news-img1.jpg" alt="car">
				</div>
				<figcaption class="news-text">
					<div class="news-text__text">
						Открытие нового направления поставок
					</div>
					<div class="news-text__date">15.09.17</div>
				</figcaption>
			</figure>
			<figure class="news-block">
				<div class="news__img">
					<img src="images/news/news-img2.jpg" alt="container ship">
				</div>
				<figcaption class="news-text">
					<div class="news-text__text">
						Открытие нового направления поставок
					</div>
					<div class="news-text__date">15.09.17</div>
				</figcaption>
			</figure>
			<figure class="news-block">
				<div class="news__img">
					<img src="images/news/news-img3.jpg" alt="plane">
				</div>
				<figcaption class="news-text">
					<div class="news-text__text">
						Открытие нового направления поставок
					</div>
					<div class="news-text__date">15.09.17</div>
				</figcaption>
			</figure>
			<figure class="news-block">
				<div class="news__img">
					<img src="images/news/news-img4.jpg" alt="container ship">
				</div>
				<figcaption class="news-text">
					<div class="news-text__text">
						Открытие нового направления поставок
					</div>
					<div class="news-text__date">15.09.17</div>
				</figcaption>
			</figure>
		</div>
	</div>
</section>