<div class="offer">
	<div class="offer-img">
		<div class="offer-media">
			<div class="offer-logo">
				<img src="images/header/logo-header.png" alt="Container ship">
			</div>
		</div>	

	</div>
	<div class="offer-text">
		<h3 class="offer-text__title">
			"BTG" - Buisness Trans Group
		</h3>
		<div class="offer-text__subtitle">
			Международная компания
		</div>
		<p class="offer-text__text">
			Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации систем массового участия. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации существенных финансовых и административных условий.
		</p>
	</div>
</div>