<section class="partners">
	<div class="wrapper">
		<div class="block-title">
			<div class="block-title__img">
				<img src="images/strip-dark.png" alt="">
			</div>
			<h2 class="section-title">Наши партнеры</h2>
			<div class="block-title__img">
				<img src="images/strip-dark.png" alt="">
			</div>
		</div>
		<div class="partners-wrap">
			<div class="partners-block">
				<div class="partner partner1"></div>
			</div>
			<div class="partners-block">
				<div class="partner partner2"></div>
			</div>
			<div class="partners-block">
				<div class="partner partner3"></div>
			</div>
			<div class="partners-block">
				<div class="partner partner4"></div>
			</div>
			<div class="partners-block">
				<div class="partner partner5"></div>
			</div>
		</div>
	</div>
	
</section>