<div class="wrapper-page">
	<div class="wrapper">
		<div class="content-wrap">
			<aside class="sidebar">
				<h3 class="article-title sidebar-title">Наши услуги</h3>
				<nav class="sidebar-menu">
					<ul class="sidebar-menu__items">
						<li class="sidebar-menu__item sidebar-menu__item1">
							<a href="shipping.html" class="sidebar-menu__link">
								Международные грузоперевозки
							</a>
						</li>
						<li class="sidebar-menu__item sidebar-menu__item2">
							<a href="delivery.html" class="sidebar-menu__link">
								Доставка грузов из Китая
							</a>
						</li>
						<li class="sidebar-menu__item sidebar-menu__item3">
							<a href="customs.html" class="sidebar-menu__link">
								Таможенное оформление
							</a>
						</li>
						<li class="sidebar-menu__item sidebar-menu__item4_active sidebar-menu__item">
							<a href="container.html" class="sidebar-menu__link">
								Контейнерные перевозки
							</a>
						</li>
						<li class="sidebar-menu__item sidebar-menu__item5">
							<a href="cargoes.html" class="sidebar-menu__link">
								Доставка сборных грузов
							</a>
						</li>
						<li class="sidebar-menu__item sidebar-menu__item6">
							<a href="financing.html" class="sidebar-menu__link">
								Финансирование поставок
							</a>
						</li>
					</ul>
				</nav>
			</aside>

			<div class="content">
				<div class="content-shipping">
					<h3 class="article-title content-title">Контейнерные перевозки</h3>
					<p class="content-shipping__text">
						Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации систем массового участия. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации существенных финансовых и административных условий.
					</p>
				</div>

				<div class="content-galary">
					<h3 class="article-title content-title">Галерея изображений</h3>
					<div class="content-galary__img">
						<img src="images/services/services-img-7.jpg" alt="image">
						<img src="images/services/services-img-8.jpg" alt="image">
					</div>
				</div>

				<div class="content-reviews">
					<h3 class="article-title content-title">Отзывы</h3>
					<div class="content-reviews__wrap">
						<div class="content-reviews__review">
							<span class="content-reviews__review-name">Ольга Петрова</span>	
							Спасибо вашей компании за сотрудничество, постоянно доказываете, 
							что с вами очень приятно работать, хорошая скорость и все 
							товары всегда в сохранности. Всем советую.
						</div>
						<div class="content-reviews__review">
							<span class="content-reviews__review-name">Ольга Петрова</span>
							Спасибо вашей компании за сотрудничество, постоянно доказываете, 
							что с вами очень приятно работать, хорошая скорость и все 
							товары всегда в сохранности. Всем советую.
						</div>
					</div>
				</div>

				<div class="content-feedback">
					<h3 class="article-title content-title">Оставить отзыв</h3>
					<form action="#" class="content-feedback__form">
						<input class="content-feedback__input" type="text" placeholder="Как вас зовут?" required>
						<input class="content-feedback__input" type="text" placeholder="Как вас зовут?" required>
						<textarea class="content-feedback__textarea" placeholder="Ваш отзыв" required></textarea>
						<button class="content-feedback__button button button-o">Отправить</button>
					</form>
				</div>

				<div class="content-table">
					<h3 class="article-title content-title">Таблица</h3>
					<table class="table"> 
						<thead class="table-head">
							<tr class="table-head_line">
								<th class="table-head_cell">Фамилия</th>
								<th class="table-head_cell">Имя</th>
								<th class="table-head_cell">Отчество</th>
								<th class="table-head_cell">Телефон</th>
								<th class="table-head_cell">Адрес</th>
								<th class="table-head_cell">Семейное положение</th>
								<th class="table-head_cell">Код подразделения</th>
							</tr>
						</thead>
						<tbody class="table-body">
							<tr class="table-body_line">
								<td data-label="Фамилия" class="table-body_cell">Фамилия</td>
								<td data-label="Имя" class="table-body_cell">Имя</td>
								<td data-label="Отчество" class="table-body_cell">Отчество</td>
								<td data-label="Телефон" class="table-body_cell">Телефон</td>
								<td data-label="Адрес" class="table-body_cell">Адрес</td>
								<td data-label="Семейное положение" class="table-body_cell">Семейное положение</td>
								<td data-label="Код подразделения" class="table-body_cell">Код подразделения</td>
							</tr>
							<tr class="table-body_line">
								<td data-label="Фамилия" class="table-body_cell">Фамилия</td>
								<td data-label="Имя" class="table-body_cell">Имя</td>
								<td data-label="Отчество" class="table-body_cell">Отчество</td>
								<td data-label="Телефон" class="table-body_cell">Телефон</td>
								<td data-label="Адрес" class="table-body_cell">Адрес</td>
								<td data-label="Семейное положение" class="table-body_cell">Семейное положение</td>
								<td data-label="Код подразделения" class="table-body_cell">Код подразделения</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="content-list">
					<h3 class="article-title content-title">Список</h3>
					<ul class="content-list__items">
						<li class="content-list__item">
							<a href="" class="content-list__link">
								Пассивный вид списка
							</a>
						</li>
						<li class="content-list__item">
							<a href="" class="content-list__link">
								Ссылка в списке
							</a>
						</li>
						<li class="content-list__item">
							<a href="" class="content-list__link">
								Наведение на список
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>