<section class="services">
	<div class="wrapper">
		<div class="services-wrap">
			<div class="block-title">
				<div class="block-title__img">
					<img src="images/strip-dark.png" alt="">
				</div>
				<h2 class="section-title">Наши услуги</h2>
				<div class="block-title__img">
					<img src="images/strip-dark.png" alt="">
				</div>
			</div>
			<div class="services-blocks">
				
				<div class="services-block__wrapper">
					<div class="services-block">
						<div class="services-block__img">
							<img src="images/services/icon-1.png" alt="">
						</div>
						<div class="services-block__text">
							Международные<br> грузоперевозки
							<form action="shipping.html" class="services-block__link">
								<button type="submit" class="services-block__button button button-o">Подробней</button>
							</form>
						</div>
					</div>

					<div class="services-block services-block2">
						<div class="services-block__img">
							<img src="images/services/icon-1_hover.png" alt="">
						</div>
						<div class="services-block__text services-block__text2">
							Международные<br> грузоперевозки
							<form action="shipping.html" class="services-block__link">
								<button type="submit" class="services-block2__button button button-o">Подробней</button>
							</form>
						</div>
					</div>
				</div>

				<div class="services-block__wrapper">
					<div class="services-block">
						<div class="services-block__img">
							<img src="images/services/icon-2.png" alt="">
						</div>
						<div class="services-block__text">
							Доставка<br> грузов из Китая
							<form action="delivery.html" class="services-block__link">
								<button type="submit" class="services-block__button button button-o">Подробней</button>
							</form>
						</div>
					</div>

					<div class="services-block services-block2">
						<div class="services-block__img">
							<img src="images/services/icon-2_hover.png" alt="">
						</div>
						<div class="services-block__text services-block__text2">
							Доставка<br> грузов из Китая
							<form action="delivery.html" class="services-block__link">
								<button type="submit" class="services-block2__button button button-o">Подробней</button>
							</form>
						</div>
					</div>
				</div>

				<div class="services-block__wrapper">
					<div class="services-block">
						<div class="services-block__img">
							<img src="images/services/icon-3.png" alt="">
						</div>
						<div class="services-block__text">
							Таможенное<br> оформление
							<form action="customs.html" class="services-block__link">
								<button type="submit" class="services-block__button button button-o">Подробней</button>
							</form>
						</div>
					</div>

					<div class="services-block services-block2">
						<div class="services-block__img">
							<img src="images/services/icon-3_hover.png" alt="">
						</div>
						<div class="services-block__text services-block__text2">
							Таможенное<br> оформление
							<form action="customs.html" class="services-block__link">
								<button type="submit" class="services-block2__button button button-o">Подробней</button>
							</form>
						</div>
					</div>
				</div>

				<div class="services-block__wrapper">
					<div class="services-block">
						<div class="services-block__img">
							<img src="images/services/icon-4.png" alt="">
						</div>
						<div class="services-block__text">
							Контейнерные<br> перевозки
							<form action="container.html" class="services-block__link">
								<button type="submit" class="services-block__button button button-o">Подробней</button>
							</form>
						</div>
					</div>

					<div class="services-block services-block2">
						<div class="services-block__img">
							<img src="images/services/icon-4_hover.png" alt="">
						</div>
						<div class="services-block__text services-block__text2">
							Контейнерные<br> перевозки
							<form action="container.html" class="services-block__link">
								<button type="submit" class="services-block2__button button button-o">Подробней</button>
							</form>
						</div>
					</div>
				</div>

				<div class="services-block__wrapper">
					<div class="services-block">
						<div class="services-block__img">
							<img src="images/services/icon-5.png" alt="">
						</div>
						<div class="services-block__text">
							Доставка<br> сборных грузов
							<form action="cargoes.html" class="services-block__link">
								<button type="submit" class="services-block__button button button-o">Подробней</button>
							</form>
						</div>
					</div>

					<div class="services-block services-block2">
						<div class="services-block__img">
							<img src="images/services/icon-5_hover.png" alt="">
						</div>
						<div class="services-block__text services-block__text2">
							Доставка<br> сборных грузов
							<form action="cargoes.html" class="services-block__link">
								<button type="submit" class="services-block2__button button button-o">Подробней</button>
							</form>
						</div>
					</div>
				</div>

				<div class="services-block__wrapper">
					<div class="services-block">
						<div class="services-block__img">
							<img src="images/services/icon-6.png" alt="">
						</div>
						<div class="services-block__text">
							Финансирование<br> поставок
							<form action="financing.html" class="services-block__link">
								<button type="submit" class="services-block__button button button-o">Подробней</button>
							</form>
						</div>
					</div>

					<div class="services-block services-block2">
						<div class="services-block__img">
							<img src="images/services/icon-6_hover.png" alt="">
						</div>
						<div class="services-block__text services-block__text2">
							Финансирование<br> поставок
							<form action="financing.html" class="services-block__link">
								<button type="submit" class="services-block2__button button button-o">Подробней</button>
							</form>
						</div>
					</div>
				</div>
				

				
			</div>
		</div>
	</div>
</section>