.header {
	padding: 59px 0 15px;

	&__logo {
		background: url(../images/logo.png) center no-repeat;
		background-size: 100%;
		width: 191px;
		height: 61px;
		margin-left: 20px;
	}

	&-contacts{
		display: flex;
		justify-content: flex-end;
		align-items: center;

		&__phone {
			margin-right: 13px;
			line-height: 31px;
			
			&s {
				display: flex;
				font-size: 22px;
			}
			

			&:first-child {
				border-right: 1px solid $header-phone-border;
				height: 31px;
				padding-right: 13px;
			}
		}

		&__button {
			font-size: 14px;
			color: $text-color-light;
		}
	}
}