.material {
	padding-bottom: 170px;

	&__touch {
		position: relative;
		top: 45px;
		.line {
			height: 75px;
		}
	}

	&__title {
		margin-top: 95px;
	}
	&__text {
		margin-top: 45px;
	}
}

.tab {
	margin: 90px 0 35px;
	color: $text-color-primary;
	font-family: $font-family-title;
	font-size: 18px;
	font-weight: 700;
	line-height: 36px;
	text-transform: uppercase;
	border-bottom: 1px solid #c6c6c6;
	text-align: center;

	&__link {
		display: block;
		padding: 25px 0;
		color: $text-color-primary;
		&:hover {
			padding: 25px 0;
			background-color: $bg-color;
		}
		&_active {
			background-image: linear-gradient(21deg, rgba(#33ff71, 0.25) 0%, rgba(#6533ff, 0.25) 100%);
		}

	}
}

.materials-wrap {
	margin-top: 30px;
	position: relative;
}

.material-foto1 {
	transition: all 0.5s;
}

.material-foto2 {
	width: 100%;
	height: 98%;
	border-radius: 100%;
	position: absolute;
	top: 0;
    left: 0;
	background-color: rgba(#000000, 0.25);
	transition: all 0.5s;
	opacity: 0;
	&__link {
		width: 100%;
		height: 100%;
		display: flex;
		
		img {
			margin: auto;
		}
	}
}
.materials-wrap:hover .material-foto2 {
	opacity:1;
	transform: scale(1.05);
	transition-delay: 0.3s;
}

.materials-wrap:hover .material-foto1 {
	transform: scale(1.05);
}

@media (max-width: 991px) {
	.material {
	padding-bottom: 50px;

	&__touch {
		position: relative;
		top: 25px;
		.line {
			height: 55px;
		}
	}

	&__title {
		margin-top: 35px;
	}
	&__text {
		margin-top: 25px;
	}
}

.tab {
	margin: 20px 0 20px;
	font-size: 16px;
	line-height: 0;
}

.materials-wrap {
	margin-top: 10px;
}
}

@media (max-width: 767px) {
	.material {
	padding-bottom: 30px;
}

.tab {
	margin: 10px 0 10px;
	font-size: 12px;
	&__link {
		padding: 20px 0;
		&:hover {
			padding: 20px 0;
		}
	}
}

.materials-wrap {
	margin-top: 10px;
}
}

@media (max-width: 575px) {
.tab {
	&__link {
		padding: 10px 0;
		word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1;
	&:hover {
			padding: 10px 0;
		}
	}
}
}