<section class="blog">
	<div class="blog__touch touch">
		<div class="touch__color1 circle">
			<span class="line touch__color1"></span>
		</div>
		<div class="touch__color2 circle">
			<span class="line touch__color2"></span>
		</div>
		<div class="touch__color3 circle">
			<span class="line touch__color3"></span>
		</div>
		<div class="touch__color4 circle">
			<span class="line touch__color4"></span>
		</div>
		<div class="touch__color5 circle">
			<span class="line touch__color5"></span>
		</div>
		<div class="touch__color6 circle">
			<span class="line touch__color6"></span>
		</div>
		<div class="touch__color7 circle">
			<span class="line touch__color7"></span>
		</div>
		<div class="touch__color8 circle">
			<span class="line touch__color8"></span>
		</div>
		<div class="touch__color9 circle">
			<span class="line touch__color9"></span>
		</div>
		<div class="touch__color10 circle">
			<span class="line touch__color10"></span>
		</div>
		<div class="touch__color11 circle">
			<span class="line touch__color11"></span>
		</div>
	</div>
	<div class="container">
		<h2 class="blog__title title">News / Blog</h2>
		<div class="row">
			<div class="col-1 align-self-center">
				<img src="images/navigation/arrow_left_dark.png" alt="">
			</div>
			<!-- /.col-1 -->
			<div class="col-10">
				
				<div class="blog-wrap">
					<a href="blog-wrap__link">
						<div class="blog__entry">
							<img src="images/blog/img-1.jpg" alt="blog foto">
							<div class="blog__text">Lorem ipsum dolor sit amet, consectetur</div>
							<!-- /.blog__text -->
						</div>
						<!-- /.blog__entry -->
					</a>
					<a href="#">
						<div class="blog__entry">
							<img src="images/blog/img-2.jpg" alt="blog foto">
							<div class="blog__text">Lorem ipsum dolor sit amet, consectetur</div>
							<!-- /.blog__text -->
						</div>
						<!-- /.blog__entry -->
					</a>
					<a href="#">
						<div class="blog__entry">
							<img src="images/blog/img-3.jpg" alt="blog foto">
							<div class="blog__text">Lorem ipsum dolor sit amet, consectetur</div>
							<!-- /.blog__text -->
						</div>
						<!-- /.blog__entry -->
					</a>
					<a href="#">
						<div class="blog__entry">
							<img src="images/blog/img-4.jpg" alt="blog foto">
							<div class="blog__text">Lorem ipsum dolor sit amet, consectetur</div>
							<!-- /.blog__text -->
						</div>
						<!-- /.blog__entry -->
					</a>
					<a href="#">
						<div class="blog__entry">
							<img src="images/blog/img-5.jpg" alt="blog foto">
							<div class="blog__text">Lorem ipsum dolor sit amet, consectetur</div>
							<!-- /.blog__text -->
						</div>
						<!-- /.blog__entry -->
					</a>
					<a href="#">
						<div class="blog__entry">
							<img src="images/blog/img-6.jpg" alt="blog foto">
							<div class="blog__text">Lorem ipsum dolor sit amet, consectetur</div>
							<!-- /.blog__text -->
						</div>
						<!-- /.blog__entry -->
					</a>
				</div>

			</div>
			<!-- /.col-10 -->
			<div class="col-1 align-self-center">
				<div class="arrow_right">
					<img src="images/navigation/arrow_right_dark.png" alt="">
				</div>
			</div>
			<!-- /.col-1 -->
		</div>
		<!-- /.row -->
	</div>
</section>