<section class="contact-form">
	<div class="contact-form__touch touch">
		<div class="touch__color1 circle">
			<span class="line touch__color1"></span>
		</div>
		<div class="touch__color2 circle">
			<span class="line touch__color2"></span>
		</div>
		<div class="touch__color3 circle">
			<span class="line touch__color3"></span>
		</div>
		<div class="touch__color4 circle">
			<span class="line touch__color4"></span>
		</div>
		<div class="touch__color5 circle">
			<span class="line touch__color5"></span>
		</div>
		<div class="touch__color6 circle">
			<span class="line touch__color6"></span>
		</div>
		<div class="touch__color7 circle">
			<span class="line touch__color7"></span>
		</div>
		<div class="touch__color8 circle">
			<span class="line touch__color8"></span>
		</div>
		<div class="touch__color9 circle">
			<span class="line touch__color9"></span>
		</div>
		<div class="touch__color10 circle">
			<span class="line touch__color10"></span>
		</div>
		<div class="touch__color11 circle">
			<span class="line touch__color11"></span>
		</div>
	</div>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-10">
				<h4 class="contact-form__title title">Möchten Sie mehr über uns erfahren? <br> 
					Dann nutzen Sie bitte das nachfolgende Kontakformular. 
				Für jedes Problem gibt es eine Lösung.</h4>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-8">
				<form action="#" class="contact-form__form form" method="POST">
					<div class="row">
						<div class="col-12 col-md-6">
							<input type="text" class="form__contact" name="name" placeholder="Ihr Name" required>
							<input type="text" class="form__contact" name="mail" placeholder="maleroy@|" required>
							<input type="text" class="form__contact" name="phone" placeholder="Ihre Telefonnummer" required>
						</div>
						<!-- /.col-4 -->
						<div class="col-12 col-md-6">
							<textarea name="message" placeholder="Ihre Nachricht" required cols="30" rows="10" class="form__text"></textarea>
							<button class="form__btn btn" type="submit">Absenden</button>
						</div>
						<!-- /.col-4 -->
					</div>
					<!-- /.row -->
				</form>
				<!-- /.form -->
			</div>
			<!-- /.col-8 -->
		</div>
		<!-- /.row -->
		
		
	</div>
</section>