<div class="footer">
	<div class="container">
		<div class="footer-wrap">
			<div class="row">
				<div class="col-12 col-sm-6 col-md-3 col-lg-2">

					<h4 class="footer__title title">Hauptmenu</h4>
					<div class="footer__block-wrap">
					<!-- /.footer__title title -->
					<ul class="footer__list">
						<li class="footer__item"><a href="" class="footer__link">Hauptseite</a></li>
						<!-- /.footer__item -->
						<li class="footer__item"><a href="" class="footer__link">Maler betrieb</a></li>
						<!-- /.footer__item -->
						<li class="footer__item"><a href="" class="footer__link">Kreative Raumgestaltung</a></li>
						<!-- /.footer__item -->
						<li class="footer__item"><a href="" class="footer__link">Material und Werkzeug</a></li>
						<!-- /.footer__item -->
						<li class="footer__item"><a href="" class="footer__link">Projekte</a></li>
						<!-- /.footer__item -->
						<li class="footer__item"><a href="" class="footer__link">News / Blog</a></li>
						<!-- /.footer__item -->
						<li class="footer__item"><a href="" class="footer__link">Impressum</a></li>
						<!-- /.footer__item -->
						<li class="footer__item"><a href="" class="footer__link">Kontakt</a></li>
						<!-- /.footer__item -->
					</ul>
					<!-- /.footer__list -->
					</div>
				</div>
				<!-- /.col-2 -->
				
				<div class="col-sm-6 col-md-3 col-lg-2">
					<h4 class="footer__title title">Kontakt</h4>
					<!-- /.footer__title -->
					
					<div class="footer__adress">Malerbetrieb Maleroy
						Grünlandweg 6a <br>
						85375 Neufahrn bei Freising
					</div>
					<!-- /.footer____adress -->
					<div class="footer__phone">Tel. Festnetz: <br>
						+49 (8165) 4093061 <br>
						Tel. Mobil: <br>
						+49 (179) 2944707
					</div>
					<!-- /.footer__phone -->
				
				</div>
				<!-- /.col-2 -->
				
				<div class="col-md-5 col-lg-4">
					<h4 class="footer__title title">Newsletter</h4>
					<!-- /.footer__title -->
					
					<div class="footer__text">Sie möchten gerne über Aktionen bzw. Neuigkeiten 
						informiert werden? Kein Problem! 
					Melden Sie sich einfach für unsere E-Mail Newsletter an.</div>
					<!-- /.footer__text -->
					<form action="#" class="footer__form form">
						
						<input type="text" class="form__contact" name="mail" placeholder="Ihre E-Mail Adresse" required>

						<button class="form__btn btn" type="submit">Absenden</button>

					</form>
					<!-- /.footer__form -->
				
				</div>
				<!-- /.col-4 -->
				<div class="col-md-12 col-lg-4">
					<div class="footer__widget">
						<a href="#"><img src="images/footer/widget.jpg" alt="widget"></a>
					</div>
					<!-- /.footer__widget -->
				</div>
				<!-- /.col-4 -->
			</div>
		</div>
	</div>
	<!-- /.container -->
	<div class="footer__bottom">
		<div class="container">
			<div class="footer__bottom-wrap">
				<div class="footer__copyrighted">© 2016 Malerfirma Roy Müller</div>
				<div class="footer__icon">
					<a href="#" class="footer__icon-link"><img src="images/footer/icon-1.png" alt="social link"></a>
					<a href="#" class="footer__icon-link"><img src="images/footer/icon-2.png" alt="social link"></a>
					<a href="#" class="footer__icon-link"><img src="images/footer/icon-3.png" alt="social link"></a>
					<a href="#" class="footer__icon-link"><img src="images/footer/icon-4.png" alt="social link"></a>
				</div>
				<div class="footer__logo">
					<div class="footer__logo-text">
						developed by
					</div>
					<a href="#">
						<img src="images/footer/logo_footer.png" alt="logotipe" class="footer__logo-img"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.footer -->

</body>
</html>