<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>test_maleroy</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=Cuprum:400,700&amp;subset=cyrillic-ext" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300&amp;subset=cyrillic-ext" rel="stylesheet">
	<link rel="stylesheet" href="css/bootstrap-grid.min.css">
	<link href="css/style.css?v1.0" rel="stylesheet" />
</head>
<body>
	
	<header class="header">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-12 col-xl-3">
					<div class="header__logo">
						<a href="#"><img src="images/header/logo.svg" alt=""></a>
					</div>
				</div>
				
				<div class="col-5 col-sm-3 col-md-3 col-xl-2">
					<a class="header__phone" href="#">
						<img class="header__phone-icon" src="images/header/phone.png" alt="">
						<div class="header__phone-text">
							01792944707
						</div>
					</a>

				</div>
				
				<div class="col-5 col-sm-4 col-md-4 col-lg-4 col-xl-3">
					<a class="header__mail" href="#">
						<img class="header__mail-icon" src="images/header/mail.png" alt="">
						<div class="header__mail-text">
							Malerfirma@Maleroy.de
						</div>
					</a>

				</div>
				<div class="col-5 col-sm-3 col-md-3 col-xl-3">
					<button class="header__btn btn">
						Rückruf-Service
					</button>
				</div>
				<div class="col-2 col-sm-2 col-md-1 col-lg-2 col-xl-1">
					<div class="header__lang">
						<ul class="lang-menu">
							<li class="lang-menu__item"><a class="lang-menu__link" href="#">De <img src="images/navigation/arrow_bottom_dark.png" alt=""></a>
								<ul class="lang-submenu">
									<li class="lang-submenu__item"><a class="lang-submenu__link"  href="#">Ru</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>