<div class="map">
	<div class="map__touch touch">
		<div class="touch__color1 circle">
			<span class="line touch__color1"></span>
		</div>
		<div class="touch__color2 circle">
			<span class="line touch__color2"></span>
		</div>
		<div class="touch__color3 circle">
			<span class="line touch__color3"></span>
		</div>
		<div class="touch__color4 circle">
			<span class="line touch__color4"></span>
		</div>
		<div class="touch__color5 circle">
			<span class="line touch__color5"></span>
		</div>
		<div class="touch__color6 circle">
			<span class="line touch__color6"></span>
		</div>
		<div class="touch__color7 circle">
			<span class="line touch__color7"></span>
		</div>
		<div class="touch__color8 circle">
			<span class="line touch__color8"></span>
		</div>
		<div class="touch__color9 circle">
			<span class="line touch__color9"></span>
		</div>
		<div class="touch__color10 circle">
			<span class="line touch__color10"></span>
		</div>
		<div class="touch__color11 circle">
			<span class="line touch__color11"></span>
		</div>
	</div>
	<div class="container">
		<div class="row justify-content-end">
			<div class="col-10 col-sm-8 col-md-6 col-lg-5">
				<div class="map__contact-form">
					<h4 class="map__form-title title">Haben Sie Fragen,
					Wünsche oder Anregungen?</h4>
					<form action="#" class="map__form form" method="POST">
						
						<input type="text" class="form__contact" name="name" placeholder="Ihr Name" required>
						<input type="text" class="form__contact" name="mail" placeholder="maleroy@|" required>

						<textarea name="message" placeholder="Ihre Nachricht" required cols="30" rows="10" class="form__text"></textarea>

						<button class="form__btn btn" type="submit">Absenden</button>
						

					</form>
					<!-- /.form -->
				</div>
			</div>
			<!-- /.col-4 -->
		</div>
		<!-- /.row -->
	</div>
</div>