<nav class="menu">
	<div class="container">
		<ul class="menu__items">
			<li class="menu__item"><a href="#" class="menu__link menu-active">Hauptseite</a></li>
			<li class="menu__item"><a href="#" class="menu__link">Maler betrieb</a></li>
			<li class="menu__item"><a href="#" class="menu__link">Kreative Raumgestaltung</a></li>
			<li class="menu__item"><a href="#" class="menu__link">Material und Werkzeug</a></li>
			<li class="menu__item"><a href="#" class="menu__link">Projekte</a></li>
			<li class="menu__item"><a href="#" class="menu__link">News / Blog</a></li>
			<li class="menu__item"><a href="#" class="menu__link last">Kontakt</a></li>
		</ul>
		<div class="menu-burger">
			<span></span>
		</div>
	</div>

</nav>
