
<section class="project">
	<div class="project__touch touch">
		<div class="touch__color1 circle">
			<span class="line touch__color1"></span>
		</div>
		<div class="touch__color2 circle">
			<span class="line touch__color2"></span>
		</div>
		<div class="touch__color3 circle">
			<span class="line touch__color3"></span>
		</div>
		<div class="touch__color4 circle">
			<span class="line touch__color4"></span>
		</div>
		<div class="touch__color5 circle">
			<span class="line touch__color5"></span>
		</div>
		<div class="touch__color6 circle">
			<span class="line touch__color6"></span>
		</div>
		<div class="touch__color7 circle">
			<span class="line touch__color7"></span>
		</div>
		<div class="touch__color8 circle">
			<span class="line touch__color8"></span>
		</div>
		<div class="touch__color9 circle">
			<span class="line touch__color9"></span>
		</div>
		<div class="touch__color10 circle">
			<span class="line touch__color10"></span>
		</div>
		<div class="touch__color11 circle">
			<span class="line touch__color11"></span>
		</div>
	</div>
	<h2 class="project__title title">Projekte</h2>
	<!-- /.title -->
	<div class="container">
		<div class="row align-items-center">
			<div class="col-1">
				<img src="images/navigation/arrow_left_dark.png" alt="">
			</div>
			<!-- /.col-1 -->
			<div class="col-10">
				<div class="project__blocks">

					<div class="project__block">
						<h4 class="project__block-title">Marmorputz</h4>
						<!-- /.project__block-title -->
						<div class="block-foto-wrap">
							<div class="block-foto">
								<img src="images/projekt/project-1.jpg" alt="project foto">
							</div>
							<div class="block-foto2">
								<a class="block-foto2__link" href="#"><img src="images/navigation/loupe.png" alt=""></a>
							</div>
						</div>
						<!-- /.project__block-foto -->
					</div>
					<!-- /.project__block -->

					<div class="project__block">
						<h4 class="project__block-title">Marmorputz</h4>
						<!-- /.project__block-title -->
						<div class="block-foto-wrap">
							<div class="block-foto">
								<img src="images/projekt/project-2.jpg" alt="project foto">
							</div>
							<div class="block-foto2">
								<a class="block-foto2__link" href="#"><img src="images/navigation/loupe.png" alt=""></a>
							</div>
						</div>
						<!-- /.project__block-foto -->
					</div>
					<!-- /.project__block -->

					<div class="project__block">
						<h4 class="project__block-title">Marmorputz</h4>
						<!-- /.project__block-title -->
						<div class="block-foto-wrap">
							<div class="block-foto">
								<img src="images/projekt/project-3.jpg" alt="project foto">
							</div>
							<div class="block-foto2">
								<a class="block-foto2__link" href="#"><img src="images/navigation/loupe.png" alt=""></a>
							</div>
						</div>
						<!-- /.project__block-foto -->
					</div>
					<!-- /.project__block -->

					<div class="project__block">
						<h4 class="project__block-title">Marmorputz</h4>
						<!-- /.project__block-title -->
						<div class="block-foto-wrap">
							<div class="block-foto">
								<img src="images/projekt/project-1.jpg" alt="project foto">
							</div>
							<div class="block-foto2">
								<a class="block-foto2__link" href="#"><img src="images/navigation/loupe.png" alt=""></a>
							</div>
						</div>
						<!-- /.project__block-foto -->
					</div>
					<!-- /.project__block -->

					<div class="project__block">
						<h4 class="project__block-title">Marmorputz</h4>
						<!-- /.project__block-title -->
						<div class="block-foto-wrap">
							<div class="block-foto">
								<img src="images/projekt/project-2.jpg" alt="project foto">
							</div>
							<div class="block-foto2">
								<a class="block-foto2__link" href="#"><img src="images/navigation/loupe.png" alt=""></a>
							</div>
						</div>
						<!-- /.project__block-foto -->
					</div>
					<!-- /.project__block -->

					<div class="project__block">
						<h4 class="project__block-title">Marmorputz</h4>
						<!-- /.project__block-title -->
						<div class="block-foto-wrap">
							<div class="block-foto">
								<img src="images/projekt/project-3.jpg" alt="project foto">
							</div>
							<div class="block-foto2">
								<a class="block-foto2__link" href="#"><img src="images/navigation/loupe.png" alt=""></a>
							</div>
						</div>
						<!-- /.project__block-foto -->
					</div>
					<!-- /.project__block -->

				</div>
				<!-- /.project__blocks -->
				
			</div>
			<!-- /.col-10 -->
			<div class="col-1">
				<div class="arrow_right">
				<img src="images/navigation/arrow_right_dark.png" alt="">
				</div>
			</div>
			<!-- /.col-1 -->
		</div>
		<!-- /.row -->
		<div class="cercle-links">
			<a href="" class="cercle-link"></a>
			<a href="" class="cercle-link"></a>
			<a href="" class="cercle-link cercle-link_active"></a>
			<a href="" class="cercle-link"></a>
			<a href="" class="cercle-link"></a>
		</div>
	</div>
	<!-- /.container -->
</section>