$primary-color: #ffffff;
$bg-color: #f4f4f4;

$text-color-primary: #093356;
$text-color-second: #000f1b;
$text-news-color: #fbfbfb;

$font-family-title: 'Cuprum', sans-serif, Arial;
$font-family-text: 'Open Sans', sans-serif, Arial;