.news {
	padding: 73px 0 83px;
	background-color: $section-bg;
	@include sm-block() {
			padding: 73px 0 30px;
		}
	&-wrap {
		margin-top: 48px;
		display: flex;
		flex-wrap: wrap;
	}
	&-block{
		background-color: $bg-color-light;
		width: calc(25% - 12px);
		margin: 0 6px;
		@include size-lg(5);
		@include size-mdbig(6);
		@include size-sm(11);
		@include size-xs(12);
		@include lg-block() {
			margin: 0 auto;
			margin-top: 12px;
		}

	}

	&__img {
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			background-color: #000000;
			opacity: 0.5;
			width: 100%;
			height: 99%;
			@include lg-block() {
				display: none;
			}
	}

		&:hover:before {
			opacity: 0;
			transition: .7s;
		}
		img {
			width: 100%;
		}
	}
	&-text {
		color: $text-color-dark;
		padding: 33px 26px;
		@include sm-block() {
			padding: 20px 26px;
		}
		&__text {

			font-size: 16px;
			font-weight: 700;
			line-height: 24px;
			letter-spacing: 0.32px;
			text-align: center;
		}
		&__date {
			margin-top: 28px;
			font-size: 15px;
			font-weight: 400;
			text-transform: uppercase;
			letter-spacing: 0.3px;
		}
	}
}