.header {
  padding: 47px 0 260px;
  color: #ffffff;
  background: url(../images/header/header-bg.jpg) center no-repeat;
  background-size: cover;
}

.header-title {
  margin-top: 168px;
  font-size: 61px;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 1.22px;
}

.header-text {
  margin: 22px 0 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.32px;
}

.header-text-slider {
  width: calc(50% - 30px);
}
.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-block__text {
  margin-top: 11px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.28px;
}

.header-block__logo {
  margin-left: 128px;
}

.header-block__logo img {
  vertical-align: middle;
}

.header-block__img {
  padding: 0 43px 0 51px;
}

.header-block__strip {
  margin-top: 10px;
}

.header-block__contacts {
  margin-top: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-block__phone {
  margin-right: 26px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.32px;
}

.header-block__phone a {
  color: #ffffff;
}

.header-menu {
  margin: 0 auto;
  margin-top: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-menu__link {
  padding: 13px 20px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.32px;
  position: relative;
}

.header-menu__link_active:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 38px;
  border-bottom: 2px solid #0b5e8f;
}

.header-menu__link:hover:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 38px;
  border-bottom: 2px solid #0b5e8f;
}

.link__search {
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-left: 20px;
  padding: 0;
  background-image: -webkit-linear-gradient(bottom, #0b5e8f 0%, #6da1c0 50%, #0b5e8f 100%);
  background-image: linear-gradient(to top, #0b5e8f 0%, #6da1c0 50%, #0b5e8f 100%);
}

.link__search img {
  margin-left: 7px;
  margin-top: 7px;
}