$text-color-dark: #373737;
$text-color-light: #ffffff;
$active-color: #fd9c28;
$bg-color-light: #f4f4f4;

$header-phone-border: #cfcfd0;

$main-bg: #373737;
$main-border-circle: #ffffff;
$main-form-bg: #ffffff;

$modal-title-bg:#ff9d00;


