<section class="contacts" id="contacts">
	<div class="contacts-block">
		<h3 class="section-title contacts-title">Контакты</h3>
		<div class="contacts-block__address contacts-block__text">
			<span class="contacts-block__title">Адрес офиса</span>
			г. Уфа, Проспект октября, 46
			<span class="contacts-block__title">Адрес склада</span>
			г. Уфа, ул. Майкопская, 65/2
		</div>
		<div class="contacts-block__phone contacts-block__text">
			<span class="contacts-block__title">Тел. отдела продаж:</span>
			8 (347) 271-54-28 <br>
			8 (937) 363-30-00
		</div>
		<div class="contacts-block__cta contacts-block__text">
			<button onclick="yaCounter47955875.reachGoal('topBtn'); return true;" class="contacts-block_button button">Заказать звонок</button>
		</div>
		<div class="contacts-block__mail contacts-block__text">
			<span class="contacts-block__title">Е-mail</span>
			urals.karton@gmail.com
		</div>
	</div>
	<div id="map" class="map"></div>
</section>