<section class="customers" id="clients">
	<div class="container">
		<h2 class="section-title">Наши клиенты</h2>
		<div class="customers-logo">
			<div class="customers-logo-img">
				<img src="images/customers/client-1.jpg" alt="logotype">
			</div>
			<div class="customers-logo-img">
				<img src="images/customers/client-2.jpg" alt="logotype">
			</div>
			<div class="customers-logo-img">
				<img src="images/customers/client-3.jpg" alt="logotype">
			</div>
			<div class="customers-logo-img">
				<img src="images/customers/client-4.jpg" alt="logotype">
			</div>
			<div class="customers-logo-img">
				<img src="images/customers/client-5.jpg" alt="logotype">
			</div>
			<div class="customers-logo-img">
				<img src="images/customers/client-6.jpg" alt="logotype">
			</div>
			<div class="customers-logo-img">
				<img src="images/customers/client-7.jpg" alt="logotype">
			</div>
			<div class="customers-logo-img">
				<img src="images/customers/client-8.jpg" alt="logotype">
			</div>
			<div class="customers-logo-img">
				<img src="images/customers/client-9.jpg" alt="logotype">
			</div>
			<div class="customers-logo-img">
				<img src="images/customers/client-10.jpg" alt="logotype">
			</div>
			<div class="customers-logo-img">
				<img src="images/customers/client-11.jpg" alt="logotype">
			</div>
			<div class="customers-logo-img">
				<img src="images/customers/client-12.jpg" alt="logotype">
			</div>
		</div>
		<!-- /.customers-logo -->
	</div>
	<!-- /.container -->
</section>
<!-- /.customers -->