<section class="feedback" id="reviews">
	<div class="container">
		<h1 class="section-title">Отзывы о сотрудничестве</h1>
		<!-- /.section-title -->
		<div class="feedback-slider">
			<div class="feedback-slider__item"><img src="images/feedback/1.png" alt=""></div>
			<!-- /.feedback-slider__item -->
			<div class="feedback-slider__item"><img src="images/feedback/2.png" alt=""></div>
			<!-- /.feedback-slider__item -->
			<div class="feedback-slider__item"><img src="images/feedback/3.png" alt=""></div>
			<!-- /.feedback-slider__item -->
			<div class="feedback-slider__item"><img src="images/feedback/1.png" alt=""></div>
			<!-- /.feedback-slider__item -->
			<div class="feedback-slider__item"><img src="images/feedback/2.png" alt=""></div>
			<!-- /.feedback-slider__item -->
		</div>
		<!-- /.feedback-slider -->
	</div>
	<!-- /.container -->
</section>
<!-- /.feedback -->