	<section class="main dark-bg">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-12 col-lg-5">
					<div class="main-img animation hiden-mobile">
						<img src="images/main/main-img.png" alt="Картон">
					</div>
				</div>
				<!-- /.col-5 -->
				<div class="col-12 col-lg-7">
					<div class="main-text">
						<h1 class="main-text__title">
							Производство упаковки из гофрокартона
						</h1>	
						<!-- /.main-text__title -->
						<div class="main-text__subtitle">
							с доставкой по всей России
						</div>
						<!-- /.main-text__subtitle -->
						<div class="main-text__form">
							<div class="form-title">Получите индивидуальное предложение
								на производство и поставку гофропродукции
								<span class="form-title__important">Образцы упаковки бесплатно!</span>
							</div>
							<!-- form-title -->
							<form action="mailer/smart.php" method="POST" class="form">
								<input class="form__input" type="tel" pattern="^[ 0-9]+$" name="user_phone" placeholder="Введите номер телефона" required>
								<button onclick="yaCounter47955875.reachGoal('formSubmission'); return true;" class="button button_big" type="submit">Оставить заявку!</button>
							</form>
							<small class="form-small">*Минимальный заказ 500шт</small>
						</div>
						<!-- /.main-text__form -->
					</div>
					<!-- /.main-text -->
				</div>
				<!-- /.col-7 -->
			</div>
		</div>
		<!-- /.container -->
	</section>
	<!-- /.main -->