<div class="overlay">
	<div class="popup">
		<div class="popup-title">Форма обратной связи</div>
		<!-- /.popup-title -->
		<div class="popup-close">&times;</div>
		<!-- /.popup-close -->
		<div class="popup-form">
			<form action="mailer/smart.php" method="POST" class="main-form">
				<div class="popup-form-header">
					Получите индивидуальное предложение
					<span>на производство и поставку изделий</span>
					<label class="popup-form__label">Введите ваш номер телефона:
					</label> 
					<input type="tel" pattern="^[ 0-9]+$" class="popup-form__input" placeholder="+7 (ХХХ) ХХХ-ХХ-ХХ" name="phone" required>
					<button onclick="yaCounter47955875.reachGoal('formSubmission'); return true;" class="button popup-form__btn">Оставить заявку!
					</button>
					<small class="popup-form__note">
						*Минимальный заказ 500шт
					</small>
				</div> 
			</form>
		</div>
		<!-- /.popup-form -->
	</div>
	<!-- /.popup -->
</div>
<!-- /.overlay -->