<section class="offer dark-bg" id="stock">
	<div class="container">
		<h2 class="offer-title">
			Получите индивидуальное предложение <span class="offer-title_small">на производство и поставку изделий</span>
		</h2>
		<!-- /.offer-title -->
		<div class="offer-form">
			<form action="mailer/smart.php" method="POST">
				<label class="offer-form__label">Введите ваш номер телефона:</label>
				<input type="tel" pattern="^[ 0-9]+$" class="form__input offer-form__input" placeholder="+7 (ХХХ) ХХХ-ХХ-ХХ" name="phone" required>
				<button onclick="yaCounter47955875.reachGoal('formSubmission'); return true;" class="button offer-form__button" type="submit">Оставить заявку!</button>
			</form>
			<small class="form-small">*Минимальный заказ 500шт</small>
		</div>
		<!-- /.offer-form -->
	</div>
	<!-- /.container -->
</section>
<!-- /.offer -->