<section class="products" id="product">
	<div class="container">
		<h2 class="section-title">
			Наша Продукция
		</h2>
		<!-- /.section-title -->
		<div class="row align-items-end">

			<div class="col-12 col-md-6">
				<div class="products-block">
					<img class="products-block__img  wow zoomIn" data-wow-delay="0.2s" src="images/products/img-1.png" alt="#">
					<div class="products-block__title">
						Гофрокороб 4-х клапанный
					</div>
					<!-- /.products-block__title -->
					<div class="products-block__buttons">
						<button class="button button-o products-block__button">Подробнее</button>
						<button class="button products-block__button_active">Получить расчет</button>
					</div>
					<!-- /.products-block__buttons -->
				</div>
				<!-- /.products-block -->
			</div>
			<!-- /.col-6 -->

			<div class="col-12 col-md-6">
				<div class="products-block">
					<img class="products-block__img  wow zoomIn" data-wow-delay="0.2s" src="images/products/img-2.png" alt="#">
					<div class="products-block__title">
						Гофролоток
					</div>
					<!-- /.products-block__title -->
					<div class="products-block__buttons">
						<button class="button button-o products-block__button">Подробнее</button>
						<button class="button products-block__button_active">Получить расчет</button>
					</div>
					<!-- /.products-block__buttons -->
				</div>
				<!-- /.products-block -->
			</div>
			<!-- /.col-6 -->
		</div>
		<!-- /.row -->

		<div class="row align-items-end">

			<div class="col-12 col-md-6">
				<div class="products-block products-block_bottom1">
					<img class="products-block__img wow zoomIn" data-wow-delay="0.4s" src="images/products/img-3.png" alt="#">
					<div class="products-block__title">
						Гофрокороб самосборный (сложная высечка)
					</div>
					<!-- /.products-block__title -->
					<div class="products-block__buttons">
						<button class="button button-o products-block__button">Подробнее</button>
						<button class="button products-block__button_active">Получить расчет</button>
					</div>
					<!-- /.products-block__buttons -->
				</div>
				<!-- /.products-block -->
			</div>
			<!-- /.col-6 -->

			<div class="col-12 col-md-6">
				<div class="products-block products-block_bottom2">
					<img class="products-block__img  wow zoomIn" data-wow-delay="0.4s" src="images/products/img-4.png" alt="#">
					<div class="products-block__title">
						Листовой гофрокартон
					</div>
					<!-- /.products-block__title -->
					<div class="products-block__buttons">
						<button class="button button-o products-block__button">Подробнее</button>
						<button class="button products-block__button_active">Получить расчет</button>
					</div>
					<!-- /.products-block__buttons -->
				</div>
				<!-- /.products-block -->
			</div>
			<!-- /.col-6 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
</section>
<!-- /.products -->