<div class="production" id="making">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-7 order-last order-lg-first">
				<div class="production-slider_top hiden-mobile">
					<img src="images/production/foto-2.jpg" alt="">
					<img src="images/production/foto-1.jpg" alt="">
					<img src="images/production/foto-2.jpg" alt="">
					<img src="images/production/foto-1.jpg" alt="">
					<img src="images/production/foto-2.jpg" alt="">
					<img src="images/production/foto-1.jpg" alt="">
				</div>
				<div class="production-slider_bottom">
					<img src="images/production/foto-2.jpg" alt="">
					<img src="images/production/foto-1.jpg" alt="">
					<img src="images/production/foto-2.jpg" alt="">
					<img src="images/production/foto-1.jpg" alt="">
					<img src="images/production/foto-2.jpg" alt="">
					<img src="images/production/foto-1.jpg" alt="">
				</div>
			</div>
			<!-- /.col-7 -->
			<div class="col-12 col-lg-5 order-first order-lg-last">
				<div class="production-text">
					<div class="production-text__title">
						Производство
					</div>
					<!-- /.production-text__title -->
					<div class="production-text__descr">
						<p>Современное оборудование позволяет производить до 5 миллионов квадратных метров гофрокартона ежемесячно. Гофрокороба и лотки производятся по ГОСТу или чертежам заказчика.
						</p>
						<p>Досконально прорабатываем конструкции коробов и составы сырья, учитывая условия хранения, транспортировки и производства вашей продукции.							
						</p>
						<p>Возможно нанесение цветной флексопечати на поверхность коробов.							
						</p>
					</div>
					<!-- /.production-text__descr -->
				</div>
				<!-- /.production-text -->
			</div>
			<!-- /.col-5 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
</div>
<!-- /.production -->